NEXT_PUBLIC_SUPABASE_URL=https://puxtfwyucvamracnebeg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_dQ1yDdPsr6yPJMFa-rG1ww_Wr-WAJK-
SUPABASE_SECRET_KEY=sb_secret_xxx
NEXT_PUBLIC_SITE_URL=http://localhost:3000
